/* Google Fonts 読み込み */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

body {
  background-color: #15151e;
}
.navbar {
  height: 5vh;
}

/* .how-to-content {
  font-size: small;
} */

/* 時計の共通スタイル */
.clock {
  font-family: "Share Tech Mono", monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1;
  text-align: center;
}
/* 日付のスタイル */
.clock-date {
  font-size: 0.8rem;
}
/* 時間のスタイル */
.clock-time {
  font-size: 1.5rem;
}

/* メイン領域を囲うコンテナー */
.main-container {
  height: 17rem;
  font-family: "Noto Sans JP";
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
}

.stage-label {
  font-family: "Noto Sans JP";
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  font-size: 0.6rem;
}

.data-analysis {
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  font-family: "Noto Sans JP";
  font-size: 0.7rem;
}

.animation-area {
  height: 100%;
  box-shadow: 0px 0px 1px 1px #daf6ff;
  padding: 0%;
}

#description-list {
  list-style: none;
  font-size: 0.85rem;
  text-align: center;
  width:90%;
}

/* 文字サイズ調整 */
/* @media screen and (max-width: 500px) {
  .clock-date {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 20vw;
  }
  .main-container {
    font-size: 20vw;
  }
  .lower-container {
    font-size: 10vw;
  }
} */